player-connection-mode=Listen
player-connection-guid=2600777769
player-connection-debug=0
player-connection-project-name=SafeRLAUV
player-connection-ip=192.168.1.143
player-connection-ip=172.30.64.1
player-connection-ip=172.24.192.1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=38380d1d519142499f890b1708a1bb8a
