player-connection-mode=Listen
player-connection-guid=1748403132
player-connection-debug=0
player-connection-project-name=SafeRLAUV
player-connection-ip=192.168.1.143
player-connection-ip=172.30.64.1
player-connection-ip=172.24.192.1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=eaabd5b1d01d461b88a17543f2f8b76e
