player-connection-mode=Listen
player-connection-guid=4177867870
player-connection-debug=0
player-connection-project-name=SafeRLAUV
player-connection-ip=192.168.1.143
player-connection-ip=172.26.80.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=b6fd8dd80257493b8b9c4f842637415f
