player-connection-mode=Listen
player-connection-guid=1659617728
player-connection-debug=0
player-connection-project-name=SafeRLAUV
player-connection-ip=192.168.1.143
player-connection-ip=172.24.208.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5445afcf756247cd901b114cdfdecbe5
